h1{
	color: orange;
	text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
}

h2{
	color: yellow;
	font-style: italic;
}

h3{
	color: yellow;
    font-style: italic
}    

ul{
	color: red;
}

h4{
	color: lime;
	font-style: italic;
}

h5{
	color: lime;
	font-style: bold;
}